body{
font-family: arial;
background-color: #333333;
color: white;
line-height: 1.6;
text-align: center;

}

.navi{
    list-style-type: none;
    padding: 0px 1px;
    margin:0px 0px;
    width:100%;
    height:30px;
    float: left;
    display: block;
}
#de{  padding: 0px 1px;
    margin:0px 40px;
    width:60px;
    height:30px;
    float:left;
    display: block;
    

}
.navi>li>a{
        
    padding: 0px 1px;
    margin:0px 1px;
    width:250px;
    height:30px;
    float:left;
    display: block;
    text-decoration: none;
    color:white;



}
.navi>li>a:hover{
    border: 1px solid rgb(97, 67, 136);
    background-color: blueviolet;
    
}
#active>a{
    background-color: springgreen;
}
#content{
    animation-name:  content;
    animation-duration: 4s;
    position: relative;
    animation-fill-mode: forwards;




}
.container{
    max-width: 960px;
    padding: 30px;
    margin: 300px auto;
    padding: 0px 30px;
    height: 100px;
    
    
}
#header{
    height: 100px;
}
#header>h1{
    font-size: 50px;
    line-height: 1.3;
    position: relative;
    animation-name :heading;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}
@keyframes heading {
    0%{ top : -100px }
    100%{ top: 1px}
    
}
@keyframes content{
  
    0%{ left : -1500px}
    100%{ left: 13px}   
}
.btn{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: #fff 1px solid;
    padding: 4px 5px;
  

}
